$darkGreen: rgb(4, 94, 1);
body {
  background-image: linear-gradient(to bottom right, $darkGreen, rgb(1, 19, 0));
}

header {
  background-image: linear-gradient(to top right, $darkGreen, rgb(1, 19, 0));
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 150%;
  text-align: center;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  font-size: 110%;
}

header h1 {
  font-size: 300%;
}

header img {
  width: 3%;
  vertical-align: middle;
}

.msg {
  background-color: rgb(1, 19, 0);
  color: white;
  border-image: linear-gradient(to right, $darkGreen, rgb(1, 12, 0));
  line-height: 50px;
  font-size: 250%;
}

.navbar {
  padding-left: 0%;
  padding-right: 30%;
}

.nav-item {
  margin-left: 2%;
  width: 320px;
}

.navbar-toggler {
  margin-left: 3%;
}

nav a:hover {
  background-color: $darkGreen;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid black;
  color: white;
}

form {
  background-color: #b7ffa1;
  text-align: center;
  border: thick solid black;
  width: 50%;
  padding: 1%;
  margin-left: 23.5%;
  margin-right: 23.5%;
  background-size: 105%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
}

form h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "comic_zine_otregular";
  font-size: 350%;
}

.fill {
  background-color: $darkGreen;
  width: 70%;
  margin-left: 15%;
  padding: 1%;
  color: white;
  border-radius: 30px;
  border: thick solid black;
}

@media only screen and (max-width: 1440px) {
  textarea {
    width: 90%;
  }
}

@media only screen and (max-width: 1180px) {
  .nav-item {
    margin-left: 1%;
    width: 200px;
  }

  .fill {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 930px) {
  .nav-item {
    margin-left: 1%;
    width: 170px;
  }

  .msg {
    font-size: 150%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    margin-left: 50%;
  }

  form {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-nav {
    margin-left: 30%;
  }

  header img {
    width: 7%;
    vertical-align: middle;
  }
  .books {
    width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .books {
    width: 100%;
  }
}
